<div class="min-h-svh flex flex-col items-center justify-center gap-8">
  <h1 class="text-3xl font-semibold text-indigo-700 dark:text-indigo-300">500</h1>
  <p>{{ message }}</p>

  <div class="overflow-x-auto max-w-3xl mx-4">
    <pre >
      <code>
      {{ error }}
      </code>
    </pre>
  </div>

</div>


