html {
  font-family: system-ui;
}

header.page {
  display: flex;
  align-items: center;
  gap: 2rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  .title {
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    gap: 1rem;

    a {
      padding: 0.5rem 1rem;

      &:hover {
        background-color: #ededed;
      }

      &[aria-current="page"] {
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }

  }
}
